* {margin: 0; padding:0; user-select: none;}
.body{
    max-width: 700px;
}
.is_main{}
.data_module{}
.status{
    width:20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top:0;
    right:0;
}
.peer_selector{}
#distant_id{}
#data_connect{}
.files_element{
    display:none;
}
#sendFiles{}
.messagerie_text{
    height:100vh;
}
.messagerie_text div{
    height:80%;
}
#messages{}
.you{
    color:green;
}
.theirs{
    color: blue;
}
#text{}
#send{}
#vStarter{}
.my_video{
    max-width:150px;
    max-height:200px;
    position: fixed;
    top: 400px;
    left:50px;
}
.their_video{
    max-width:720px;
    max-height:1280px;
    position: fixed;
    top: 50px;
    left:0;
}
.video_module{}
.video{}
.disconnect{
    display:none;
}
.mg_module{

}
.todo_module{

}
.game_screen{
    display: grid;
    height: 100%;
    width:100%;
    grid-template: repeat(4, 1fr) / repeat( 1, 1fr);
    grid-auto-flow: dense;
}
#score_bar{
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    user-select: none;
}
#yoScore{}
#tyScore{}
.game_box{
    grid-column: 1;
    grid-row: 2/5;
    align-items: center;
    display: flex;
    justify-content: center;
}
.game_btn{
    background-color: red;
    padding: 100px 87px;
    border-radius: 100%;
}