
body{
    max-width: 700px;
}
.is_main{
    display:none;
}
.is_not_main{
    display:block;
}
#video-container{
    display:none;
}
.chat_box{

}
.chat_head{

}
.drop_box{
    height: 200px;
}
.presence{
    display: none;
}
.you{
    color:green;
}
.theirs{
    color: blue;
}
.status{
    width:20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top:0;
    right:0;
}
.peer_selector{
    
}
.files_element{
    display:none;
}
.messagerie_text{
    height:100vh;
}
.messagerie_text div{
    height:80%;
}
#disconnect_btn{
    position: absolute;
    top:0;
    right:0;
    display:none;
}
.my_video{
    max-width:150px;
    max-height:200px;
    position: fixed;
    top: 400px;
    left:50px;
}
.their_video{
    max-width:720px;
    max-height:1280px;
    position: fixed;
    top: 50px;
    left:0;
}
ul li{
    list-style-type: none;
    display: inline;
}
.disconnect{
    display:none;
}
.modele_module{
    height: 480px;
    width: 360px;
    display: flex;
    border-radius: 25px;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
}
.selectors ul{
}
#show{
    border:solid black 1px;
    display: flex;
    min-height: 350px;
    width: 63%;
    flex-direction: column;
}
.show ul li{
    display:flex;
}